.App {
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #fff;
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #333;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

h1 {
  font-weight: 700 !important;
  font-size: 3rem !important;
}

.location {
  font-weight: 300;
}

.temp {
  font-size: 96px;
  font-weight: 700;
}

.temp span {
  font-size: 36px
}

.navbar-light .navbar-toggler {
  color: rgba(0,0,0,.5);
  border: none !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
